*{
    padding: 0;
    margin:0;
    box-sizing:border-box
}
:root{
    --section-margin:60px 0;
    --padding:50px 0;
    --border-radius:4px;
    --primary-color:white;
    --secondary-color:#0967D2;
    --tertiary-color:rgba(17, 24, 39, 1);
    --text-color:#52606D;
    --background-secondary-color:rgba(245, 247, 250, 1);
}
@font-face {
  font-family: 'Airbnb';
  src:  url('../fonts/AirbnbCerealBold.woff') format('woff'),
        url('../fonts/AirbnbCerealBold.woff') format('woff');
}
body{
  overflow-x: hidden;
  font-family: Airbnb, sans-serif;
}
.wrapper{
    width:95%;
    margin:0 auto;
}
/* header */
header{

  background: rgba(105, 102, 102, 0.438);
  width:100%;
  position: fixed;
   z-index: 999;
}
.header {
    width: 95%;
    opacity: 1;
margin:0 auto;
  }
  .headerTop {
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
  }
  .logo {
    margin-top: -2px;
  }
  /* .logo-img {
    width: 100px;
  } */
  .logo a {
    text-decoration: none;
    color: black;
    font-weight: 900;
  }

  .menuToggle {
    cursor: pointer;
  }
  .barsText {
    box-sizing: border-box;
  }
  .bars {
    width: 35px;
    margin: 5px 0px;
    height: 2px;
    max-height: 2px;
    border-radius: 4px;
    background-color: rgb(66, 66, 66);
  }

  .header nav ul {
    background: #272727;
    color: #ededed;
    position: fixed;
    height: auto;

    right: 100%;
    border-top: 0;
    transition: 0.5s;
    list-style: none;
    margin-top: 0px;
    width: 100%;
    height: 100%;
  }
  .header nav ul.active {
    right: 0;
  }
  .header nav ul li {
    text-align: left;
    padding: 17px 30px;
    cursor: pointer;
  }
  .header nav ul li:last-child {
    position: absolute;
    bottom: 140px;
    width: 100%;
  }
  .navbar__contact img{
    margin-left:30px;
  }

  .header nav ul li a {
    color: white;
    text-decoration: none;
  }
.close-nav{
  display:none
}
  .closeMenu {
    width: 93%;
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
  }
  .closeMenu div {
    cursor: pointer;
  }

  .header nav ul li:hover a {
    color: #777;
  }

  /*****************MAIN *******************/
main{
    padding-top:80px
}

/********************SECTION ******************/
section{
   margin:var(--section-margin);
   text-align:center
}
h5{
  color:var(--secondary-color);
  font-weight: 400;
font-size:14px
}
p{
  font-size:16px;
  color:var(--text-color)
}
/********************SECTION 1 ******************/

.section__1 h1{
    font-size: 3em;
    word-wrap: break-word;
    font-weight: 800;
    font-style: normal;
}
.section__1__banner{
  display:none;
}
.section__1 h1 span{
    color:var(--secondary-color);
}
.section__1 h4{
  color:#171717;
}
.section__1__div__button__container{

   margin-top: 30px;
}
.section__1__div__button__container button{
height:48px;
background:rgba(9, 103, 210, 1);
width:186px;
border-radius: var(--border-radius);
border:0;
color:white;
font-size: 20px;

}

/********************SECTION 2 ******************/
.section__2{
    background: var(--tertiary-color);
padding:var(--padding);
color:var(--primary-color);
position: relative;
width:100vw;
margin-left:-50vw;
left:50%;

}
.section__2 h5{
color:white;
}
.section__2__img__container{
  width:95%;
  margin:0 auto;
  padding:0 10px;
display:flex;
flex-wrap: wrap;
justify-content: center;
}
.section__2__img__container div{
  margin:30px 0;
}
.section__2__img__container div:nth-child(2n){
  margin:30px 70px
}
.section__2__img__container div:last-child{
  justify-content: center;
}

/********************SECTION 3 ******************/
.section__3 span{
  color:var(--secondary-color)
}
.section__3__card__container{
  margin:100px 0;
}
.section__3__card{
  width:100%;
  margin:75px 0;
  background-color: var(--background-secondary-color);
  padding:15px;
  border-radius: calc(var(--border-radius)*3);
  position:relative;
}
.section__3__card__img{
  position: absolute;
  top:-20px;
  width:100%;
left:0;
display:flex;
justify-content: center;
}
.section__3__card__img >div{
  width:40px;
  height:40px;
  background:var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius);
}
.section__3__card__content{
  margin-top: 30px;
}
.section__3__card__content h5{
  color:#171717;
  margin:25px 0;
}

/*********************section 4*******************/
.section__4{
  background:var(--background-secondary-color);
  padding:60px 15px;
position: relative;
width:100vw;
margin-left:-50vw;
left:50%;
}
.section__4 .smart{
  color:#171717;
  font-weight: 600;
}
.section__4__list{
  list-style-type: none;
  width:95%;
  margin:0 auto
}
.section__4__list li{
  display: flex;

}
.section__4__list li div:last-child{
margin-left:13px
}
.section__4__li__marker{
  width:20px;
  height:20px;
  border-radius: 50%;
  border:1px solid rgba(75, 202, 129, 1);
display: flex;
justify-content: center;
align-items: center;
margin-top: 2px;
}
.section__4__bottom .section__4__button__container{
  display:none
}
.section__4__button__container button,.section__4__button__container_2 button{
width:142px;
height:48px;
border-radius: var(--border-radius);
border: 1px solid var(--text-color);
font-size:16px;
color:var(--text-color)
}
.section__4__tab{
  background:#E4E7EB;
  border-radius: var(--border-radius);
  width:100%;
 padding:25px;
 text-align:left;
  display: flex;
  justify-content: space-between;
  box-sizing:border-box
}
.section__4__tabs{
  margin:40px 0;
}
.section__4__tabs div:first-child{
background:var(--primary-color)
}
/************************ section5 ********************/
.section__5 ul{
  text-align: left;
  list-style-type: none;
}
.section__5 ul li{
  display: flex;
  margin:40px 0;
}
.section__5 ul li div:last-child{
  margin-left:30px;
}
.section__5 ul li div h6{
  color:var(--secondary-color)
}
.section__5 ul li div p{
  color: var(--text-color)
}
.section__5__li__blank div h6{
  color:rgba(203, 210, 217, 1) !important;
}
.section__5__li__blank div p{
  color:#CBD2D9 !important;
}
.section__5__li__marker,
.section__5__li__marker__first,
.section__5__li__marker__blank,
.section__5__li__marker__blank__last{
  width:24px;
  height: 24px;
  border:2px solid #0967D2;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
margin-top:12px;
  background:white;
}
.section__5__li__marker__blank,
.section__5__li__marker__blank__last{
  border: 1px solid #CBD2D9;
}
.section__5__li__marker::before,
.section__5__li__marker__blank::before{
width:2px;
height:50px;
content:"";
border:1px solid #CBD2D9;
position: absolute;
top:-15px;
z-index:-1;
}
.section__5__li__marker__first::before{
width:2px;
height:20px;
content:"";
border:1px solid #CBD2D9;
position: absolute;
top:15px;
z-index:-1;
}
.section__5__li__marker__blank__last::before{
width:2px;
height:20px;
content:"";
border:1px solid #CBD2D9;
position: absolute;
top:-15px;
z-index:-1;
}

.section__5__li__marker::after,
.section__5__li__marker__blank::after,
.section__5__li__marker__first::after{
width:2px;
height:20px;
content:"";
position: absolute;
top:55px;
z-index:-1;
border:1px solid #CBD2D9;
}
/************************ section6 ********************/
.section__6{
  background: var(--tertiary-color);
  padding:var(--padding);
  color:var(--primary-color);
  position: relative;
  width:100vw;
  margin-left:-50vw;
  left:50%;
}
.section__6 h5{
  color:#CAD3E8;
  font-weight: 500;
}
.section__6__img__container{
  width:95%;
  margin:0 auto;
  padding:0 10px;
display:flex;
flex-wrap: wrap;
justify-content: space-evenly;
}
.section__6__img__container div{
  margin:30px 0;
}
.section__6__img__container div:first-child{
  padding-top:40px;
}
/************************ section7 ********************/

.section__7__question{
 padding:20px 0;
 border-top:1px solid #E4E7EB;
text-align: left;

}
.section__7__question__tag{
  cursor:pointer;
  font-size:22px;
font-weight: 600;
margin-bottom:10px;
display: flex;
justify-content: space-between;
padding:0 10px
}
.section__7__question__tag i{
    border: solid var(--text-color);
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 4px;
}
.upArrow {
  transform: rotate(-135deg);
}
.downArrow {
  transform: rotate(45deg);
}
.section__7__question__answer{
    height: 0;
    overflow: hidden;
    transition: 0.3s;
}
.answer{
    height: auto;
}
/***************** footer********************/
footer{
  background:var(--background-secondary-color);
  padding:60px 0px;
position: relative;
width:100vw;
margin-left:-50vw;
left:50%;
}
.footer__container,.footer__newsletter >div{
  width:95%;
  margin:0 auto;
}
.footer__newsletter__info h4,.footer__input__info{
  display:none;
}

.footer__input{
position: relative;
}
.footer__input input{
width:100%;
height:50px;
border-radius: calc(var(--border-radius)*2);
border:0;
padding-left: 7px;
}
.footer__aside__2 .footer__input input{
background:#F5F7FA;
}
.footer__input button{
  width:120px;
  background:var(--secondary-color);
  color:var(--primary-color);
  height:46px;
  border-radius: var(--border-radius);
  border:0;
  position: absolute;
  top:2px;
right:0px
}

.footer__sitemap > div{
  margin:20px 0;
  display:grid;
  grid-template-columns: repeat(2,1fr);
}
.footer__sitemap h4{
  display:none
}
.footer__sitemap > div ul{
  list-style:none;
}
.footer__sitemap > div ul li{
  margin:10px 0;
  color:var(--text-color)
}
.footer__aside__2{
  display: none;
}
.footer__contact,.footer__aside__contact{
  margin:5px 0;
  display:flex;
  justify-content: center;
}
.footer__copyright{
   margin-top:15px;
    display:flex;
  justify-content: center;
}
.footer__copyright div:first-child{
 font-size: 20px;
  color:#171717;
  font-weight: 500;
  margin-bottom: -40px;
}
.footer__copyright div:last-child{
  display:none
}
.footer__contact img,.footer__aside__contact img{
  margin:0 10px
}
  /* media queries */

  @media (min-width: 1440px) {
.wrapper,.header,.footer__container{
  width:80%;
}

    .header nav ul li {
      padding-left: 10px;
    }
    .headerTop {
      padding: 10px 0px;
    }
    .closeMenu {
      display: none;
    }
    .header nav ul li a {
      color: black;
    }
    .header nav ul {
      height: auto;
      padding: 0px 10px;
      position: static;
      margin-top: -47px;
      display: flex;
      float: right;
      width: auto;
      text-align: right;
      background: transparent;
      top: 0;
      left: 0;
      right: 0;
    }
    .header nav ul li {
      padding: 0 10px;
    }
    .header nav ul li a {
      color: black;
    }
    .menuToggle {
      display: none;
    }
    .logo {
      font-size: 45px;
      margin-top: -20px;
    }


    /* section -1 */
    .section__1{
      display: flex;
      text-align:left;
      justify-content: space-between;
    }
    .section__1__banner{
      display:block;
      margin-top:-80px
    }
    /* section__2 */
    .section__2__img__container{
width:80%
    }
    /* section -3 */
    .section__3{
      width:90%;
      margin:0 auto
    }
    .section__3__card__container{
      display:flex;
      justify-content: space-between;
    }
    .section__3__card{
      margin:0 15px;
    }
    /* section 4 */
    .section__4__container{
width:80%;
margin:0 auto;
    }
    .section__4__flex{
      display:flex;
      justify-content: space-between;
    text-align:left;
    }
    .section__4__flex__2{
      display:flex;
      flex-direction: row-reverse;
      justify-content: space-between;
    text-align:left;
    }
    .section__4__flex >div,.section__4__flex__2 >div{
      width:100%;
    }
    .section__4__flex__2 >div:first-child{
     margin-left: 30px;
    }

    .section__4__middle div{
      text-align-last: right;
    }
    .section__4__button__container{
      margin-top:-80px;
      text-align: left;
    }
    .section__4__tabs{
      margin-top:-10px
    }
    .section__4__button__container_2{
     display:none
    }
    .section__4__bottom .section__4__button__container{
      display:block;
      margin-top:-10px
    }
    .section__5 ul{
      display:flex;
      justify-content: space-evenly;
    }
    .section__5 ul li{
      display:block;

    }
    .section__5 ul li div:last-child{
      margin-top:40px;
      position: absolute;
    }
    .section__5__li__marker::before,
.section__5__li__marker__first::before,
.section__5__li__marker__blank::before,
.section__5__li__marker__blank__last::before{
width:2px;
height:120px;
content:"";
border:1px dashed #CBD2D9;
position: absolute;
top:15px;
}
.section__5__li__marker__first::before,
.section__5__li__marker__blank__last::before,
.section__5__list li:nth-child(2n+1) .section__5__li__marker::before,
.section__5__list li:nth-child(2n+1) .section__5__li__marker__blank::before{
width:2px;
height:120px;
content:"";
border:1px dashed #CBD2D9;
position: absolute;
top:-120px;
}
.section__5__li__marker::after,
.section__5__li__marker__blank::after,
.section__5__li__marker__first::after{
content:"";
display:none
}
.section__5__hor__line{
  min-width:100%;
  height:2px;
  border:1px dashed #CBD2D9;
  margin-top:-70px;
  margin-bottom:300px
}
.section__5__list{
  margin-top:190px
}
.section__5__list li{
  position:relative
}
.section__5__list li:nth-child(2n+1) >div:last-child{
  position:absolute;
  top:-230px;
  left:-110px;
  width:200px;
  text-align:center
}
.section__5__list li:nth-child(2n) >div:last-child{
  position:absolute;
  top:140px;
  left:-110px;
  width:200px;
  text-align:center
}
/* section 6 */
.section__6__img__container{
  width:55%;
}

/* footer */
.footer__newsletter__info h4,.footer__input__info{
  display:block;
}
.footer__newsletter{
  background: #0967D2;
}
.footer__newsletter>div{
  width:80%;
  margin:0 auto;
  display:flex;
  justify-content: space-between;
  padding:70px 0;
  color:white
}
.footer__newsletter__info{
  margin-top:25px
}
.footer__newsletter__info p{
  color:white
}
.footer__newsletter>div div{
  width:100%
}
.footer__input{
  display: flex;
}
.footer__input button{
position:relative;
left:10px;
background-color: #E6F6FF;
border: 1px solid #7CC4FA;
color:var(--secondary-color)
}
footer{
  padding-top: 0;
  background:white
}
.footer__sitemap h4{
  display:block
}
.footer__sitemap >div{
  margin-top:60px;
  display:flex;
  justify-content: space-between;
}
.footer__aside__2{
  display: block;
}
.footer__aside,.footer__contact{
  display:none
}
.footer__aside__2 .footer__input input{
  width:100%
}
.footer__aside__2 .footer__input button{
  width:50px;
  background:var(--secondary-color);
  position:absolute;
  left:78%
  }
  .footer__aside__2 .footer__aside__contact{
    justify-content: flex-start;
  }
  .footer__copyright{
    display: flex;
    justify-content: space-between;
    margin-bottom: -70px;
    margin-top:30px
  }
  .footer__copyright div:last-child{
    display:block
  }
  .footer__copyright div:last-child ul{
    display:flex;
    list-style: none;
  }
  .footer__copyright div:last-child ul li{
     margin:0 12px
  }
  }