html {
  box-sizing: border-box;
  overflow-x: hidden;
}
/* inherit border-box on all elements in the universe and before and after
 */
*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif !important;
  background-color: #e5e5e5;
}

header {
  position: sticky;
  top: 0;
  z-index: 998;
  background-color: #e5e5e5;
}

h3 {
  font-weight: 700;
  font-size: 14px;
}

p {
  font-weight: 400;
  font-size: 12px;
}

.center-align {
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-align > img {
  width: 100%;
}

.navbar-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  width: 100%;
}

.logo-container {
  display: flex;
  align-items: flex-end;
}

.logo-container > img {
  width: 1.5em;
}

.logo-container > span {
  margin-left: 10px;
  font-weight: bold;
  font-size: 1em;
}

.list-container > img {
  cursor: pointer;
}

.menu-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: #f2f2f2;
  color: #f2f2f2;
  clip-path: circle(0% at 95% 5%);
	transition: clip-path 0.5s ease-out,background-color 0.5s ease-out;
}
.menu-container.open {
  clip-path: circle(100%);
  background-color: #120136;
}

.menu-container > .navbar-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  position: relative;
  width: 100%;
}

.header > .navbar-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 15px;
  position: relative;
}

.header > .navbar-wrapper > .list-container {
  margin-left: 20px;
}
.header > .navbar-wrapper > .list-container  li {
  color: #120136;
  font-weight: bold;
  margin-right: 10px;
}

.menu-container > .responsive-menu {
  padding: 15px;
  margin-top: 30px;
}

.menu-container > .responsive-menu > .lang {
  display: flex;
  align-items: center;
  margin-top: 60px;
}

.menu-container > .responsive-menu > .lang > h3 {
  position: relative;
  top: 5px;
  left: 8px;
}

.menu-container > .responsive-menu > h3 {
  margin-bottom: 20px;
}

.list-container > ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
}

.list-container > ul > li {
  margin-left: 10px;
}

.content-container {
  padding: 0 30px;
  background-color: #e5e5e5;
}

.whitepaper-section {
  background-image: url("../svg/wallpaper-mobile.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  min-height: 250px;
  color: #fff;  
  position: relative;
  margin-bottom: 30px;
}

.whitepaper-section-lg {
  background-image: url("../svg/wallpaper-desktop.svg");
  background-repeat: no-repeat;
  background-position: 75% 25%;
  background-size: cover;
  min-height: 550px;
  margin-bottom: 30px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
}

.whitepaper-section-lg h2 {
  color: #29235E;
  margin-top: 3.5em;
  font-size: 30px;
}


.whitepaper-section > h3 {
  position: absolute;
  top: calc(50% - 80px);
  left: 15px;
  width: 60%;
  text-align: left;
  line-height: 25px;
}

.whitepaper-section > div {
  box-shadow: 0px 20px 30px 0px #40bad557;
  position: absolute;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border-radius: 20px;
  width: 80%;
  left: 50%;
  bottom: 0px;
  transform: translateX(-50%);
  background-color: #40BAD5;
}

.whitepaper-section > div > a {
  text-decoration: none;
  color: #fff;
  padding: 10px 15px;
  margin: 0;
  font-size: 14px;
  font-weight: 700;
}

.rigel-card {
  box-shadow: 5px 20px 30px 0px #40bad557;
  max-width: 300px;
  border-radius: 20px;
  min-height: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.rigel-card > div {
  height: 80%;
  margin: auto;
  padding: 10px;
}

.rigel-card  h3 {
  margin-top: 10px;
}

.rigel-card  p {
  color: #757576;
  font-size: 12px;
  width: 80%;
  margin: 0 auto;
}

.road-section {
  padding: 30px;
  background-image: url("../svg/road-background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 200px;
  height: auto;
}

.road-section > div {
  width: 80%;
  margin: 0 auto;
}

.road-section p {
  color: #fff;
  font-size: 14px;
}

.btn {
  border: 1px solid #40BAD5;
  color: #40BAD5;
  padding: 10px 15px;
  border-radius: 20px;
  display: block;
}

.btn.full {
  width: 100%;
  margin: 0 auto;
}

.btn.inverted {
  border: 1px solid #40BAD5;
  color: #fff;
  background-color: #40BAD5;
  padding: 10px 15px;
  border-radius: 20px;
  display: block;
}

.btn.inverted:hover {
  border: 1px solid #40BAD5;
  color: #fff;
  background-color: #40BAD5;
  padding: 10px 15px;
  border-radius: 20px;
  display: block;
}
.btn:hover {
  background-color: #40BAD5;
  color: #fff;
}

.exchange-section {
   margin: 15px 0;
}

.exchange-section h3 {
  color: #120136;
  font-size: 35px;
}

.exchange-section p {
  font-size: 20px;
}

.footer-section {
  background-image: url("../svg/light.svg");
  background-repeat: no-repeat;
  background-position: -10px -40px;
  background-color: #120136;
  color: #fff;
  min-height: 200px;
  padding: 0 30px;
}

.footer-section .list-style {
  list-style: none;
}

.footer-section .list-style > li {
  font-size: 12px;
  line-height: 30px;
}

.footer-brand {
  text-align: left;
}

.footer-brand > p {
  font-size: 14px;
  margin-top: 10px;
}

.neat-list {
  display: flex;
  list-style: none;
}

.neat-list > li {
  margin-right: 10px;
}

@media screen and (max-width: 769px) {
  .whitepaper-section-lg h2 {
    font-size: 20px;
    margin-top: 2.1em;
  }

  .exchange-section {
    min-height: 300px;
    margin: 30px 0;
  }

  .exchange-section h3 {
    color: #120136;
    font-size: 25px;
  }

  .exchange-section p {
    font-size: 16px;
  }

  .exchange-section .btn {
    font-size: 14px;
  }
}

@media screen and (max-width: 426px) {

  .header > .navbar-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    position: relative;
    width: 100%;
  }

  .list-container > ul  {
    display: none;
  }

  .footer-brand {
    text-align: center;
    margin-bottom: 20px;
  }

  .exchange-section {
    text-align: center;
    margin: 50px 0;
  }

  .exchange-section h3 {
    color: #120136;
    font-size: 16px;
  }

  .exchange-section p {
    font-size: 14px;
  }

  .exchange-section .btn {
    font-size: 14px;
  }
}